{{ define "main" }}
<img style="border-radius: 15px;" src="/images/pexels-karly-barker-halifax.jpg">
<h1>Strong Towns Halifax</h1>
<p>Working to make Halifax a more Safe, Environmentally and Financially sustainble by smart urban planning: walkable neighborhoods, cycling, and transit for a vibrant halifax.</p>
<h2>Follow us on social media.</h2>
<a class="button main-menu-cta" href="https://twitter.com/strongtownshali">Twitter</a>
<a class="button main-menu-cta" href="https://www.instagram.com/strongtownshfx/">Instagram</a>
<a class="button main-menu-cta" href="https://www.linkedin.com/company/96921269/">Linkedin</a>
{{ end }}
